name: Build Rust image

on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: install buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest
      - name: login to docker hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: build the alpine image
        run: |
          cd r/rust/rust-alpine/
          docker buildx build --push \
            --tag "${{ secrets.DOCKER_USERNAME }}"/rust:latest \
            --platform linux/amd64,linux/arm/v7,linux/arm64 .
      - name: build the nightly musl image
        run: |
          cd r/rust/rust-nightly/musl
          docker buildx build --push \
            --tag "${{ secrets.DOCKER_USERNAME }}"/rust:nightly_musl \
            --platform linux/amd64,linux/arm/v7,linux/arm64 .
      - name: build the nightly glibc image
        run: |
          cd r/rust/rust-nightly/glibc
          docker buildx build --push \
            --tag "${{ secrets.DOCKER_USERNAME }}"/rust:nightly_glibc \
            --platform linux/amd64,linux/arm/v7,linux/arm64 .
      - name: build the stable musl image
        run: |
          cd r/rust/rust-stable/musl
          docker buildx build --push \
            --tag "${{ secrets.DOCKER_USERNAME }}"/rust:stable_musl \
            --platform linux/amd64,linux/arm/v7,linux/arm64 .
      - name: build the stable glibc image
        run: |
          cd r/rust/rust-stable/glibc
          docker buildx build --push \
            --tag "${{ secrets.DOCKER_USERNAME }}"/rust:stable_glibc \
            --platform linux/amd64,linux/arm/v7,linux/arm64 .
